<ngb-carousel
[showNavigationArrows]="true" 
[showNavigationIndicators]="true"
interval="10000"
[keyboard]="true"
[pauseOnHover]="true"
[wrap]="true"
[activeId]="'slideTwo'"
style="outline:none;"
>
    <ng-template ngbSlide id="slideOne">
        <div class="picsum-img-wrapper">
            <img class="indexPhoto" src="assets/images/slide2.jpg" alt="">
        </div>
        <div class="carousel-caption">
            <h2 class="text-black">First slide label</h2>
            <h4 class="text-black">Nulla vitae elit libero, a pharetra augue mollis interdum.</h4>
        </div>
    </ng-template>
    <ng-template ngbSlide id="slideTwo">
        <div class="picsum-img-wrapper">
            <img class="indexPhoto" src="assets/images/slide1.jpg" alt="">
        </div>
        <div class="carousel-caption">
            <h2>Second slide label</h2>
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
        </div>
    </ng-template>
    <ng-template ngbSlide id="slideThree">
        <div class="picsum-img-wrapper">
            <img class="indexPhoto" src="assets/images/slide3.jpg" alt="">
        </div>
        <div class="carousel-caption">
            <h2 class="text-black">Third slide label</h2>
            <h4 class="text-black">Praesent commodo cursus magna, vel scelerisque nisl consectetur.</h4>
        </div>
    </ng-template>
</ngb-carousel>
<div class="container mt-5 mb-5">
    <div class="row mt-5">
        <div class="col-lg-6">
            <img class="indexPhoto" src="assets/images/indexPhoto.png" alt="">
            <h4>Air Max 270 Shoes</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, odio nisi. Velit tempora nisi repudiandae.</p>
        </div>
        <div class="col-lg-6">
            <h3><b>The New Era</b></h3>
            <small>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti illum voluptas aspernatur quo accusamus iusto eos quisquam, fugit consectetur. Harum libero distinctio aperiam suscipit provident esse eveniet, voluptatibus explicabo, nesciunt eius facilis! Deserunt nesciunt numquam necessitatibus praesentium vel minus deleniti est corrupti quo hic repellendus illo, id, labore, cupiditate aliquid fugiat ducimus? Voluptatum ullam magni fugiat, architecto consectetur repudiandae cupiditate? Quidem distinctio quis officiis provident numquam vitae autem commodi nisi adipisci beatae nam culpa pariatur possimus doloremque aut, quas eius dolores. Placeat, vitae facilis! Nihil, maxime voluptatibus. Ea, debitis amet, aliquam fugit laborum voluptas eos nulla nobis deleniti nam dicta.</small>
            <br><br>
            <form>
                <h3><b>Get Updated to Us</b></h3>
                <small><b>Subscribe to our news letter to get notification about new item(s) arrived</b></small>
                <hr>
                <input class="newsLetter" type="text" placeholder="Email">
                <input class="newsLetter" type="text" placeholder="Full Name">
                <button class="newsButton">Submit</button>
            </form>
        </div>
    </div>
</div>
