.text-black {
    color: #000;
}

.indexPhoto {
    width: 450px;
    height: 300px;    
}

@media(max-width: 485px) {
    .indexPhoto {
        width: 250px;
        height: 150px;    
    }
}

form {
    border: 1px solid #000;
    padding: 2%;
}

.newsLetter {
    outline: none;
    width: 100%;
    display: block;
    padding: 3px 3px 3px 7px;
    border-style: none;
    border: 1px solid #000;
    background: transparent;
    color: #000;
    transition: .5s;
    margin-bottom: 8px;
}

.newsButton {
    outline: none;
    background: transparent;
    border: 1px solid #000;
    transition: .5s;
    color: #000;
    padding: 3px;
}

.newsButton:hover {
    background: #000;
    color: #fff;
}

.picsum-img-wrapper img{
    height: 100%;
    width: 100%;
    display: block;
    margin: 0;
    outline: none;
}