form.signin {
    border: 1px solid #404040;
    padding: 4%;
    border-radius: 5%;
}

.submit {
    border-radius: 0;
    background: #404040;
    color: #fff;
    width: 100%;
    margin-top: 5%;
}

.loader {
    margin-left: 50%;
    transform: translateX(-51%);
    display: block;
}