<div class="row">
    <div class="form col-lg-6">
        <br>
        <h4>Create an account</h4>
        <br>
        <div *ngIf="success" class="alert alert-dismissible alert-success">
            <small>You're successfuly registered, you can log in now</small>
        </div>
        <div *ngIf="errors || email_already || username_already || require || pe || success == false" class="alert alert-dismissible alert-danger">
            <small [style.display]="email_already ? 'block' : 'none'">Email is already exist</small>
            <small [style.display]="username_already ? 'block' : 'none'">Username is already exist</small>
            <small [style.display]="require ? 'block' : 'none'">Please, complete all the fields</small>
            <small [style.display]="pe ? 'block' : 'none'">Password doesn't match with compare password</small>
            <small [style.display]="success == false ? 'block' : 'none'">Somethings went wrong, please try again.</small>
            <small [style.display]="errors ? 'block' : 'none'">Make sure all the field is correct</small>
        </div>
        <br>
        <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" (blur)="checkEmail($event)" [(ngModel)]="email" name="email" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                <input type="text" (blur)="checkUsername($event)" [(ngModel)]="username" name="username" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">First name</label>
                <input type="text" [(ngModel)]="firstname" name="firstname" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Last name</label>
                <input type="text" [(ngModel)]="lastname" name="lastname" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" (blur)="checkPassword($event)" [(ngModel)]="password" name="password" class="form-control form-control-sm" id="exampleInputPassword1">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Confirm Password</label>
                <input type="password" (blur)="checkPassword($event)" [(ngModel)]="cpassword" name="cpassword" class="form-control form-control-sm" id="exampleInputPassword1">
              </div>
            <button type="button" (click)="registerForm()" class="btn btn-sm btn-primary">Submit</button>
        </form>
        <br>
    </div>
</div>
