<div class="row">
    <div class="form col-lg-6">
        <br>
        <h4>Login your account</h4>
        <br>
        <div *ngIf="require" class="alert alert-dismissible alert-danger">
          <small>Please, complete all the fields</small>
      </div>
        <br>
        <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Username</label>
              <input type="email" [(ngModel)]="username" name="username" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" [(ngModel)]="password" name="password" class="form-control form-control-sm" id="exampleInputPassword1">
            </div>
            <button type="button" (click)="submitForm()" class="btn btn-sm btn-primary">Login</button>
            <hr>
            <button type="button" (click)="signInWithGoogle()" class="google btn btn-sm"><i class="fa fa-google"></i> Sign in with Google</button>
            <button type="button" class="fb btn btn-sm"><i class="fa fa-facebook-f"></i> Sign in with Facebook</button>
        </form>
        <br>
    </div>
</div>
